* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #game-area {
    width: 90vw;
    height: 85vh;
    background-color: black;
    position: relative;
    overflow-x: hidden;
  }
  
  #player {
    width: 50px;
    height: 100px;
    position: absolute;
    bottom: 40vh;
    left: 0;
    background-color: olive;
  }

  #score{
    width: 120px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: rgba(128, 128, 0, 0.400);
  }

  #life{
    width: 120px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 10px;
    right: 20px;
    background-color: olive;
  }

  .cockroach{
    background-color: #73400d;
    width: 50px;
    height: 20px;
    position: absolute;
    left: 0;
  }